@import url("https://fonts.googleapis.com/css2?family=Anek+Devanagari&family=JetBrains+Mono:wght@500&family=Poppins:wght@300;500&display=swap");

.fatherCon {
  width: 100%;
  margin-top: 10vh;
  .titleName {
    width: 100%;
    height: 10vh;
    background-color: rgba(0, 0, 0, 0.096);
    display: flex;
    justify-content: center;
    align-items: center;
    h2 {
      color: rgb(0, 119, 255);
      font-size: 40px;
      font-family: "Poppins", sans-serif;
    }
  }
  .skillsCon {
    width: 100%;
    margin: 10vh 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    .cycle1 {
      width: 200px;
      height: 200px;
      border-radius: 50%;
      background-color: rgb(189, 189, 189);
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 10px;
      p {
        font-size: 32px;
        text-align: center;
        font-family: "Anek Devanagari", sans-serif;
        font-weight: 600;
        transition: 0.5s;
        color: rgb(1, 0, 34);
      }
      p:hover {
        color: rgb(4, 2, 124);
      }
    }
    .cycle2 {
      width: 400px;
      height: 400px;
      border-radius: 50%;
      background-color: aliceblue;
      margin-bottom: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 10px;
      transition: 0.5s;
      p {
        font-size: 50px;
        text-align: center;
        font-family: "Anek Devanagari", sans-serif;
        font-weight: 600;
        transition: 0.5s;
        color: rgb(1, 0, 34);
      }
      p:hover {
        color: rgb(4, 2, 124);
      }
    }
    .cycle3 {
      width: 230px;
      height: 230px;
      border-radius: 50%;
      background-color: rgb(189, 189, 189);
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 10px;
      p {
        font-size: 35px;
        text-align: center;
        font-family: "Anek Devanagari", sans-serif;
        font-weight: 600;
        color: rgb(1, 0, 34);
        transition: 0.5s;
      }
      p:hover {
        color: rgb(4, 2, 124);
      }
    }
    .cycle4 {
      width: 170px;
      height: 170px;
      border-radius: 50%;
      background-color: aliceblue;
      margin-bottom: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: 0.5s;
      p {
        font-size: 20px;
        text-align: center;
        font-family: "Anek Devanagari", sans-serif;
        font-weight: 600;
        color: rgb(1, 0, 34);
        transition: 0.5s;
      }
      p:hover {
        color: rgb(4, 2, 124);
      }
    }
  }
}
